[submodule "scikit-learn/src"]
	path = scikit-learn/src
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "tensorflow/src"]
	path = tensorflow/src
	url = https://github.com/tensorflow/tensorflow.git
[submodule "tensorflow/TensorFlow-Examples"]
	path = tensorflow/TensorFlow-Examples
	url = https://github.com/aymericdamien/TensorFlow-Examples.git
[submodule "scipy-lecture-notes/src"]
	path = scipy-lecture-notes/src
	url = https://github.com/scipy-lectures/scipy-lecture-notes.git
